<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kstt.articles.mapper.ArticleManuscriptTypeMapper">

    <resultMap type="ArticleManuscriptType" id="ArticleManuscriptTypeResult">
        <id property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="typeDesc" column="type_desc"/>
        <result property="sortOrder" column="sort_order"/>
    </resultMap>

    <sql id="selectArticleManuscriptTypeVo">
        select type_id, type_name, type_desc, sort_order
        from article_manuscript_type
    </sql>

    <select id="selectTypeByTypeId" parameterType="Integer" resultMap="ArticleManuscriptTypeResult">
        <include refid="selectArticleManuscriptTypeVo"/>
        where type_id = #{typeId}
    </select>

    <select id="selectTypeList" parameterType="ArticleManuscriptType" resultMap="ArticleManuscriptTypeResult">
        <include refid="selectArticleManuscriptTypeVo"/>
        <where>
            <if test="typeName != null and typeName != ''">
                AND type_name like concat('%', #{typeName}, '%')
            </if>
        </where>
        order by sort_order
    </select>

</mapper>
